template(name='create')
  +doCreate(doCreateData)

template(name='doCreate')
  h3 Create an estimation session
  form#createGame
    table
      tr
        td Moderator:
        td
        td
        td #{username} (#{email})
      tr
        td Session&nbsp;Name:
        td
        td
        td
          input(type='text', placeholder='Name of planning session',
            name='name', value='#{defaultName}', required)
      tr
        td Session&nbsp;URL:
        td
        td
        td #{url}
      tr
        td Tasks:
        td
        td.delete
        td
          if importing
            +importForm
          else
            a#import(href='#') Import from Github
      each asTask tasks
        tr.task
          td
          td #{num}.
          td.delete
            with(num=num parent=..)
              a(href='#', title='Delete task'): span.glyphicon.glyphicon-remove
          td #{desc}
      tr.task.addTask
        td
        td #{nextTask}.
        td
        td
          +addTask
      tr
        if tasks
          td: button.btn#start Start
          td(colspan='3') Begin the estimation session
        else
          td: button.btn(disabled) Start
          td(colspan='3') Add some tasks before starting the session

// This is a separate template to allow the nested form to work
template(name='addTask')
  .text
    form.addTask
      input(name='desc', type='text', placeholder='Task description', required)
      button.btn#add(type='submit') Add

template(name='importForm')
  form#import
    input(name='from', type='text', placeholder='GitHub user/repo', required)
    button.btn(type='submit') Import
  if error
    .error #{error}

