template(name='createRoot')
  +CreateForm(newCreateForm)

template(name='CreateForm')
  h3 Create an estimation session
  form#createGame
    table
      tr
        td Moderator:
        td
        td
        td #{currentUser.username} (#{currentUserEmail})
      tr
        td Session&nbsp;Name:
        td
        td
        td
          input(type='text', placeholder='Name of planning session',
            name='name', value='#{defaultName}', required)
      tr
        td Session&nbsp;URL:
        td
        td
        td #{url}
      +TaskList(TaskList)
      tr
        if anyTasks
          td: button.btn#start Start
          td(colspan='3') Begin the estimation session
        else
          td: button.btn(disabled) Start
          td(colspan='3') Add some tasks before starting the session

template(name='TaskList')
  tr
    td Tasks:
    td
    td.delete
    td
      +ImportForm(ImportForm)
  each tasks.withNum
    tr.task
      td
      td.num #{num}.
      td.delete
        with(num=num parent=..)
          a(href='#', title='Delete task'): span.glyphicon.glyphicon-remove
      td.desc #{desc}
  tr.task.addTask
    td
    td #{tasks.nextNum}.
    td
    td
      +AddTaskForm(AddTaskForm)

// This is a separate template to allow the nested form to work
template(name='AddTaskForm')
  .text
    form.addTask
      input(name='desc', type='text', placeholder='Task description', required)
      button.btn#add(type='submit') Add

template(name='ImportForm')
  if importing
    form#import
      input(name='from', type='text', placeholder='GitHub user/repo', required)
      button.btn(type='submit') Import
    if error
      .error #{error}
  else
    a#import(href='#') Import from Github

