template(name='mainRoot')
  +MainPage(newMainPage)

template(name='MainPage')
  h3 Create an estimation session
  .indent
    button.btn#create Create
  +FindById(FindById)
  +FindByMod(FindByMod)
  +MyGames(MyGames)

template(name='FindById')
  h3 Find estimation session by id
  .indent
    form#join
      label Enter the id of the planning session you wish to join.
      input#id(type='text', placeholder='Session id', name='gameId', required)
      button.btn(type='submit') Join
    .error #{error.get}

template(name='FindByMod')
  h3 Find estimation sessions by moderator
  .indent
    form#email
      label Enter the email address of the moderator to list their sessions.
      input#email(type='text', placeholder='Email', name='email', required)
      button.btn(type='submit') Show
    .error #{error.get}
  +ShowGames(ShowGames)

template(name='MyGames')
  h3 My estimation sessions
  +ShowGames(ShowGames 'notdone')
  +ShowGames(ShowGames 'done')

template(name='ShowGames')
  if games
    if $neq title 'None'
      h5 #{title}
  else
    if $eq title 'None'
      i None
  each games
    .showGame
      +ShowGame(../ShowGame this)

template(name='ShowGame')
  .buttons
    if myGame
      if isDone
        a.delete(href='#', title='Delete session'): span.glyphicon.glyphicon-remove
      else
        a.complete(href='#', title='Mark session done'): span.glyphicon.glyphicon-ok
  a.play(href='#') #{game.name}
  |  &ndash; #{estimatedCount}/#{game.tasks.length} tasks estimated
