template(name='playRoot')
  +Play(newPlay gameId debug)

template(name='Play')
  unless game
    .error No game found with id "#{gameId}"
  else
    h3 Session: #{game.name}
    if game.isDone
      div Planning session is complete
      +ShowTasks(ShowTasks)
      if game.isMod
        +Link(game=game id='notdone' label='Not Done'
          desc='mark the planning session as not complete')
        +Link(game=game id='delete' label='Delete'
          desc="delete the planning session (can't be undone)")
    else if game.iAmWaiting
      +Link(game=game id='join' label='Join' desc='join the planning session')
    else if game.iAmJoining
      .indent Waiting for approval...
        +Link(game=game id='unjoin' label='Leave')
    else if game.iAmPlaying
      +Estimators(Estimators)
      if game.currTask
        +Estimating(Estimating)
      else
        h3 Waiting
        .indent {{cond game.isMod 'Select a task to estimate' 'Waiting for a task to estimate'}}
      +ShowTasks(ShowTasks)
      +Link(game=game id='done' label='Done' desc='mark the planning session as complete')
    else
      div Internal error; unknown state
      pre #{game.debugString}

    if debug
      h3 Debug
      pre #{game.debugString}

// List the estimators, context is game
template(name='Estimators')
  .estimators
    h5 Estimators:
    each playing
      div #{username} (#{email})
        if isMod
          | - moderator
        else if isMe
          with(player=this game=../game)
            | - #[a#leave(href='#') Leave]
    if game.isMod
      each $mapped joining
        if $first
          h5 Waiting to join:
        div #{username} (#{email})
          with(player=this game=../game)
            a#allow(href='#', title='Allow'):   span.glyphicon.glyphicon-ok
            a#reject(href='#', title='Reject'): span.glyphicon.glyphicon-remove

// Make estimates and show results
template(name='Estimating')
  .estimating
    if game.isShowing
      h3 Reviewing
      div Estimation results
    else
      h3 Estimating
      div Select your estimate for this task
    h4 Task: #[.desc #{task.desc}]
    each choices
      +Choice(../Choice this)
    h4 Votes:
    if game.isShowing
      +ShowVotes(ShowVotes)
    else
      +ShowVoted(ShowVoted)

template(name='Choice')
  button.btn.choice(class='{{cond selected "active"}}', disabled=disabled) #{choice}

// Display who has voted; mod and show votes
template(name='ShowVoted')
  .voted
    each players
      span(class='{{cond voted "" "not-voted"}}') #{name}
  if game.isMod
    .mod
      if isEmpty task.votes
        a.disabled(href='#') Show
      else
        a#show(href='#') Show
      | &nbsp;&ndash; reveal all estimates for this task
      div To estimate a different task, select it from the list below

// Display everyone's votes; mod can save or re-vote
template(name='ShowVotes')
  table.votes
    each votes
      tr
        td {{cond vote vote '?'}}
        td #{player.username}
  if game.isMod
    .mod
      div#save
        a(href='#') Save
        if $eq task.proposed 0
          | &ndash; remove the recorded estimate
        else
          | &ndash; record the selected estimate of #[.est #{task.proposed}]
      +Link(game=game id='revote' label='Re-vote' desc='restart the voting')

// Display all tasks; context has game
template(name='ShowTasks')
  h3 All Tasks
  .tasks
    .head
      .num
      .estimate Estimate
      span Task
    each tasks
      +ShowTask(../ShowTask this)

// Display one task: context has task and game
template(name='ShowTask')
  .task(class='{{cond isCurr "curr"}}')
    .num #{task.num}.
    .estimate #{estimate} &nbsp; &nbsp;
    .desc
      if canSelectTask
        a(href='#') #{task.desc}
      else
        | #{task.desc}

template(name='Link')
  div(id=id)
    a(href='#') #{label}
    if desc
      | &ndash; #{desc}

